<div>
  <ul class="time-periods">
    <li
      class="time-periods__period"
      [class.active]="isActive(TimePeriod.Day)"
      (click)="setTimePeriod(TimePeriod.Day)"
    >
      День
    </li>
   
    <li
      class="time-periods__period"
      [class.active]="isActive(TimePeriod.Week)"
      (click)="setTimePeriod(TimePeriod.Week)"
    >
      Неделя
    </li>

    <li
      class="time-periods__period"
      [class.active]="isActive(TimePeriod.Month)"
      (click)="setTimePeriod(TimePeriod.Month)"
    >
      Месяц
    </li>

    <li
      class="time-periods__period"
      [class.active]="isActive(TimePeriod.Year)"
      (click)="setTimePeriod(TimePeriod.Year)"
    >
      Год
    </li>
  </ul>
</div>